@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;700&family=Montserrat:wght@400;500;600;800&family=Roboto:ital,wght@0,400;0,700;1,500;1,700&family=Ubuntu:wght@300;400;500;700&family=Work+Sans:wght@400;600;700&family=Zilla+Slab:wght@400;700&display=swap');
body{
    font-family: 'M PLUS 1p', sans-serif;
}
root{
    --white: #fcfcfc;
    --background: linear-gradient(180deg, rgba(49, 18, 81, 0) 0%, #30124e 80.07%);
    --red: #f61067;
    --dark: #150433;
    --green: #00F0B5;
    --orange: #F67110;
}
*{
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-flow: column;
    column-gap: 10px;
    padding: 20px;
    background: #C4C4C4;
}
.first{
    background: #F61067;
    height: 200px;
    width: 200px;
}
.second{
    height: 200px;
    width: 200px;
    background: #5E239D;

}
.three{
    background: #3A0475;
    height: 200px;
    width: 200px;
}
.four{
    height: 200px;
    width: 200px;
    background: #30124E;

}
.five{
    height: 200px;
    width: 200px;
    background: #150433;

}
.box{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 20px;
}


.six{
    height: 200px;
    width: 200px;
    background: #6DECAF;


}
.contain{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-left: 20px;
    background: #C4C4C4;
}

.seven{
    height: 200px;
    width: 200px;
    background: #00F0B5;
    padding-left: 10px;

}
.eghit{
    height: 200px;
    width: 200px;
    background: #FCFCFC;

}
.nine{
    height: 200px;
    width: 200px;
    background: #F4F4ED;

}
.calona{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-left: 20px;
  padding: 10px;
   column-gap:10px ;  
   background: #C4C4C4; 

}
.ten{
    height: 200px;
    width: 200px;
    background: #30233D;

}
.elewen{
    height: 200px;
    width: 200px;
    background: #776C82;
    margin-right: 530px;


}
.twelve{
    height: 200px;
    width: 200px;
    background: #9B94A3;
}
.calona-two{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 10px;
    column-gap:10px ;  
    background: #C4C4C4; 
 
}
.red{
    height: 200px;
    width: 200px;
    background: #F0002B;

}
.green{
    height: 200px;
    width: 200px;
    background: #10F65E;

}
.orange{
    height: 200px;
    width: 200px;
    background: #F67110;

}

.blue{
    height: 200px;
    width: 200px;
    background: #00A8F0;


}
.curcles{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 10px;
      
    background: #C4C4C4;  
}
.one{
    height: 200px;
    width: 200px;
    border-radius: 90px;
    background: #FFFFFF;

box-shadow: 0px 8px 64px rgba(94, 35, 157, 0.25);
}
.two{
    
background: #FFFFFF;
height: 200px;
width: 200px;
border-radius: 90px;

box-shadow: 0px 8px 64px rgba(0, 240, 181, 0.25);
}
.third{
    background: #FFFFFF;
    height: 200px;
    width: 200px;
    border-radius: 90px;

box-shadow: 0px 8px 64px rgba(246, 16, 103, 0.25);
}
h1{
    font-style: normal;
font-weight: 900;
font-size: 99px;
line-height: 118px;
/* identical to box height */


/* TextColors/Headers */

color: #30233D;

}
h2{
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 80px;
   
    
   
    
    color: #30233D;
    
}
h3{
    font-family: Mplus 1p;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
color: var(--text);
}
h4{
    color: var(--text);
    font-style: normal;
font-weight: 500;
font-size: 27px;
line-height: 40px;
}
h5{
    color: var(--text);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.normal{
    font-style: normal;
font-weight: normal;
font-size: 19.8px;
line-height: 32px;
color: var(--text);
width: 288px;
height: 162px;

}
.bold{
    width: 290px;
height: 162px;
font-style: normal;
font-weight: 800;
font-size: 19.8px;
line-height: 32px;
color: var(--text);
}
.podtext{
    display: flex;
}
.color{
 margin-left: 160px;
 
}
.content{
    display: grid;
    grid-template-columns: repeat(2.1fr);
    background: #150433;
    color: var(--white);
    color: #FCFCFC;

}
.title{
    float: left;
    width: 600px;
height: 324px;
font-style: italic;
font-weight: normal;
font-size: 36px;
line-height: 64px;
padding-left: 40px;
}
.text{
 padding-top: 50px;
padding-left: 70px;
font-style: italic;
font-weight: normal;
font-size: 22.5px;
line-height: 40px;

}
.buttons{
  display: flex;
 
}
button{
    height: 45px;
    width: 107px;
  border-radius: 20px;
  border: none;
  margin: 10px;
  color: var(--white);
  margin-left: 120px;
    
}
.numer0ne{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.bardo{
    background: #F61067;
    color: white;

}
.violet{
    background: #5E239D;
    color: white;

}
.grey{
    background: #9B94A3;
color: white;
}
.white{
    border: 1px solid #5E239D;
box-sizing: border-box;
color: #F61067;


}
.feld{
    padding-left: 230px;
} 
.sable{
    position: relative;
    left: 650px;
    bottom: 315px;
    
}
input{
    width: 362px;
height: 54px;


}
.got{
    font-style: normal;
font-weight: 800;
font-size: 12.6px;
line-height: 26px;
letter-spacing: 6px;
text-transform: uppercase;

/* Colors/White */

color: #FCFCFC;
}
.inputs{
    background: #150433;
}
.valuegreen{
    border: 2px solid #10F65E;
    color: #10F65E;

}
.valuesec{
    border: 2px solid #F0002B;
    color: #F0002B;
    
}
.valuefir{
    border: 2px solid #5E239D;
    color:#5E239D ;
}
.value{
    border: 1px solid #F4F4ED
}